<div class="container">
    <h2>add a course</h2>
    <form action="/course/create" method="POST">
        <label for="name">Course Name</label>
        <input type="text" name="name" placeholder="course_name">
        <label for="duration">Course Duration</label>
        <input type="text" name="duration" placeholder="duration">
        <label for="fees">Fees</label>
        <input type="number" name="fees" placeholder="Course_fees">
        <div class="row">
            <input type='submit' class="btn" value="ADD">
            <a href="/" class="btn">back</a>
        </div>
        
    </form>
</div>